
<div class="header-greating">
    <h3>Hey {{name}}</h3>
    <br>
    <p class="">Here are your ideas Both public and private ideas you have will appear here</p>
</div>
{{#if stories}}

<table>

    <tbody>
        {{#each stories}}
        <tr >
            <td id="radius-1"><a href="/ideas/{{_id}}" class="idea-title-dashboard">{{title}}</a></td>
            <td><span class="dash-status">{{status}}</span></td>
            <td><a href="/ideas/edit/{{_id}}" class="btn btnfloat">
                    <i class="fas fa-edit"></i>
                </a>
            </td>

            <td id="radius-2">
                <form action="/ideas/{{_id}}" method="POST" id="delete_form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="delete-btn">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>

        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<table>
    <tbody>
    <tr>
        <td ><a class="idea-message-dashboard">You Havent created any ideas</a></td>
    </tr>
    </tbody>
</table>
{{/if}}

<div class="profile-image-dashboard">
    <img src="{{image}}" class="">
</div>