<div class="content_container">
    <div class="greeting_text">
        <h1>Sup, {{name}}!</h1>
    </div>

    <p class="sub-heading2">Categories</p>

    <div class="category">
        <div class="category_container">
            <p>ideas</p>
            <h3><a href="/dashboard/public">Public</a></h3>
            <div class="cat_line" style="background-color: #EB5757;"></div>
        </div>
        <div class="category_container">
            <p>ideas</p>
            <h3><a href="/dashboard/private">Private</a></h3>
            <div class="cat_line" style="background-color: #F2994A;"></div>
        </div>
        <div class="category_container">
            <p>ideas</p>
            <h3><a href="/dashboard">All</a></h3>
            <div class="cat_line" style="background-color: #9D9ABA;"></div>
        </div>
    </div>

    <p class="sub-heading2">Ideas</p>

    {{#if stories}}

    <div>

        <div>
            {{#each stories}}
            <div class="dashboard_idea_container">
                <a href="/ideas/{{_id}}" class="idea-title-dashboard">{{title}}</a>
                <p>{{stripTags (truncate description 200)}}</p>
                <span class="dash-status">{{status}}</span>
                <div>
                    <a href="/ideas/edit/{{_id}}" class="edit_btn">
                        <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Group 7">
                                <circle id="Ellipse 1" cx="27.5" cy="27.5" r="27.5" fill="#9D9ABA" />
                                <g id="edit 1" clip-path="url(#clip0)">
                                    <g id="Group">
                                        <path id="Vector"
                                            d="M17.2515 37.7859L20.8353 41.3697L11.3871 43.6037L13.6212 34.1556L17.2515 37.7859Z"
                                            fill="#9D9ABA" />
                                        <path id="Vector_2"
                                            d="M38.2888 23.9628L20.9284 41.3231L20.8353 41.3697L17.2515 37.7859L34.6585 20.3325L38.2888 23.9628Z"
                                            fill="#9D9ABA" />
                                        <path id="Vector_3"
                                            d="M34.6584 20.3325L17.2515 37.7859L13.6212 34.1556L13.6677 34.0625L31.0281 16.7021L34.6584 20.3325Z"
                                            fill="#9D9ABA" />
                                    </g>
                                    <path id="Vector_4"
                                        d="M44.5719 17.6332L37.3578 10.4191C36.7993 9.86063 35.915 9.86063 35.403 10.4191L30.0506 15.7249L12.6904 33.0853C12.5973 33.1784 12.5042 33.318 12.4111 33.4577L12.3646 33.5508C12.3181 33.6439 12.2715 33.737 12.2715 33.8301L10.0374 43.2781C9.94432 43.7436 10.0839 44.2555 10.4098 44.5813C10.6891 44.8606 11.0149 45.0002 11.3871 45.0002C11.4802 45.0002 11.6198 45.0002 11.7129 44.9537L21.161 42.7196C21.2541 42.6731 21.3472 42.6731 21.4403 42.6265L21.5334 42.58C21.673 42.5335 21.8127 42.4404 21.9058 42.3008L39.2661 24.9404L44.5719 19.588C45.1305 19.0295 45.1305 18.1452 44.5719 17.6332ZM31.0281 18.6572L32.7036 20.3327L17.2515 35.8313L15.576 34.1558L31.0281 18.6572ZM13.2488 41.7422L14.3659 36.9483L18.0427 40.6252L13.2488 41.7422ZM20.8353 39.4151L19.2062 37.7861L34.6584 22.2874L36.3339 23.9629L20.8353 39.4151ZM38.2888 21.9616L33.0294 16.7024L36.3805 13.3513L41.6398 18.6107L38.2888 21.9616Z"
                                        fill="white" />
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="35" height="35" fill="white" transform="translate(10 10)" />
                                </clipPath>
                            </defs>
                        </svg>

                    </a>
                </div>


                <form action="/ideas/{{_id}}" method="POST" id="delete_form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="delete-btn">
                        <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Group 8">
                                <circle id="Ellipse 1" cx="27.5" cy="27.5" r="27.5" fill="#EB5757" />
                                <g id="delete 1">
                                    <g id="Group">
                                        <path id="Vector"
                                            d="M27.4544 40.6083C26.6776 40.6083 26.0836 40.0143 26.0836 39.2376V23.017C26.0836 22.2402 26.6777 21.6462 27.4544 21.6462C28.2311 21.6462 28.8251 22.2402 28.8251 23.017V39.2375C28.8251 40.0143 28.2311 40.6083 27.4544 40.6083Z"
                                            fill="white" />
                                        <path id="Vector_2"
                                            d="M32.1606 40.6083H32.1149C31.3381 40.5627 30.7899 39.9229 30.7899 39.1919L31.3839 22.9713C31.4295 22.1945 32.0693 21.6006 32.8003 21.6462C33.5771 21.6919 34.1254 22.3316 34.1254 23.0627L33.5314 39.2833C33.4857 40.0143 32.8916 40.6083 32.1606 40.6083Z"
                                            fill="white" />
                                        <path id="Vector_3"
                                            d="M22.748 40.6083C22.017 40.6083 21.423 40.0143 21.3773 39.2833L20.7833 23.0627C20.7377 22.2859 21.3316 21.692 22.1084 21.6462C22.8852 21.6006 23.4791 22.1945 23.5248 22.9713L24.1188 39.1919C24.1645 39.9687 23.5706 40.5626 22.7938 40.6083H22.748Z"
                                            fill="white" />
                                        <path id="Vector_4"
                                            d="M42.8525 16.2546H39.6084C39.6084 16.2546 39.6084 16.2546 39.5627 16.2546H34.2167V13.2846C34.2167 12.0052 33.2115 11 31.9322 11H22.9765C21.6971 11 20.692 12.0052 20.692 13.2846V16.2545H15.2546H12.0561C11.2793 16.2545 10.6854 16.8485 10.6854 17.6252C10.6854 18.4019 11.2794 18.9959 12.0561 18.9959H14.0208L16.3055 44.7663C16.3511 45.4517 16.9452 46 17.6762 46H37.2781C38.0091 46 38.6031 45.4517 38.6488 44.7663L40.9333 18.9961H42.9438C43.7206 18.9961 44.3145 18.4021 44.3145 17.6254C44.3145 16.8487 43.6292 16.2546 42.8525 16.2546ZM23.4334 13.7415H31.4752V16.2546H23.4334V13.7415ZM35.9987 43.2585H18.8642L16.7167 18.9961H38.0549L35.9987 43.2585Z"
                                            fill="white" />
                                    </g>
                                </g>
                            </g>
                        </svg>

                    </button>
                </form>


            </div>
            {{/each}}
        </div>
    </div>
    {{else}}
    <table>
        <tbody>
            <tr>
                <td><a class="idea-message-dashboard">You Havent created any ideas</a></td>
            </tr>
        </tbody>
    </table>
    {{/if}}
</div>