<div class="content_container">

    <div class="greeting_text">
        <h1>So here are some nice ideas.</h1>
    </div>


    <div class="main ">
        {{#each ideas}}
        
            <div class="idea-card">
                <div class="card-edit">
                    {{{editIcon user ../user _id}}}
                </div>
                <div class="content">
                    <h3>{{stripTags (truncate title 10)}}</h3>
                    <p>{{stripTags (truncate description 100)}}</p>
                </div>
                
                    <a href="/ideas/{{_id}}" class="more-btn" style="">~ Read More</a>
                
            </div>
        
        {{else}}
        <p>No Stories Here</p>
        {{/each}}

    </div>

    <script>
        function updateLikes() {
            id = $('.likeicon').attr('userId');
            $.post('/index/' + id, function (response) {
                $('fa-lightbulb').text(response.likeCount); //your counter on a page
                //and update likes counter with response
            })
        }
    </script>

</div>