<div class="row">
    <div class="col-7 show-content">
        <h3>{{idea.title}}
            <small>{{{editIcon idea.user user idea._id false}}}</small>
        </h3>
        <div class="card story z-depth-3">
            <div class="card-info">
                <span class="card-title">{{{idea.createdAt}}}</span>
                <br>
                <h6 class="bold">What it's about!</h6>
                {{{idea.description}}}
                
                <h6 class="bold">Problem</h6>
                {{{idea.problem}}}
                
                <h6 class="bold">Tags</h6>
                {{{idea.tags}}} <br><br>
                <span class="card-title">By {{idea.user.displayName}}</span> <br> 
                <a href="/ideas/user/{{idea.user._id}}">More From {{idea.user.firstName}}</a>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="user-info">
            <div class="card-content">
                
                <img src="{{idea.user.image}}"  class="profile-image-dashboard">

                
            </div>
        </div>
    </div>
    
</div>